@import '../../theme/variables';
@import '../../theme/mixins';

.skills {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  min-height: 100vh;


  .skills__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 940px;
    min-width: 767px;
    margin: 0 auto;
    padding: 120px 50px 50px 50px;

    @media (max-width: $tablet) {
      padding: 100px 30px 30px 30px;
    }

    @media (max-width: $mobile) {
      min-width: 320px;
      padding: 60px 20px 20px 20px;
    }

    .skills__title {
      margin: 0 0 20px 0;
    }

    .skills__progress {
      margin-top: 50px;

      @media (max-width: $tablet) {
        margin-top: 30px;
      }
    }
  }
}

.progress {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 700px;
  width: 100%;

  .progress__item {
    display: flex;
    margin-bottom: 25px;
  }
}

.item {
  .item__icon {
    @media (max-width: $tablet) {
      width: 45px;
      height: 45px;
    }
  }

  .item__description {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto 0 0 15px;

    .item__title {
      color: $grey;
      text-transform: capitalize;

      @media (max-width: $mobile) {
        width: 110px;
        font-size: 14px;
      }
    }

    .item__progress {
      position: relative;
      display: flex;
      width: 100%;
      height: 5px;
      margin: 4px 0;
      border-radius: 25px;
      background: $greylight;

      .progress__fill {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        display: flex;
        width: 0;
        height: 4px;
        border-radius: 25px;
        background: $black;
        transition: width 1s linear;

        &--html {
          width: 95%;
        }

        &--css {
          width: 85%;
        }

        &--scss {
          width: 85%;
        }

        &--script {
          width: 35%;
        }

        &--git {
          width: 60%;
        }

        &--react {
          width: 60%;
        }

        &--redux {
          width: 60%;
        }
      }
    }
  }
}
