@import '../../theme/variables';
@import '../../theme/mixins';

.skills {
  width: 100%;

  .skills__wrapper {
    max-width: 940px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 50px;

    @media (max-width: $mobile) {
      padding: 20px;
    }

    .skills__title {
      margin: 0;

      @media (max-width: $mobile) {
        margin-top: 30px;
      }
    }

    .skills__progress {
      margin-top: 50px;
    }

    .skills__programs {
      margin-top: 50px;
    }
  }
}

.progress {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 700px;
  width: 100%;

  .progress__item {
    display: flex;
    margin-bottom: 15px;
  }
}

.item {
  .item__icon {
  }

  .item__description {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto 0 0 10px;

    .item__title {
      color: $grey;
      text-transform: capitalize;

      @media (max-width: $mobile) {
        font-size: 14px;
        width: 110px;
      }
    }

    .item__progress {
      position: relative;
      display: flex;
      width: 100%;
      height: 5px;
      //background-color: rgba(130, 130, 130, 0.3);
      background: $greylight;
      margin: 4px 0;
      border-radius: 25px;

      .progress__fill {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        width: 0;
        height: 4px;
        background: $black;
        border-radius: 25px;
        transition: width 1s linear;
        z-index: 2;

        &--html {
          width: 95%;
        }

        &--css {
          width: 85%;
        }

        &--scss {
          width: 85%;
        }

        &--script {
          width: 35%;
        }

        &--git {
          width: 60%;
        }

        &--react {
          width: 60%;
        }

        &--redux {
          width: 60%;
        }
      }
    }
  }
}
