@import '../../theme/variables';
@import '../../theme/mixins';

.header {
  position: fixed;
  width: 100%;
  background: white;
  z-index: 3;

  @media (max-width: $tablet) {
    display: none;
    top: 0;
    left: 0;
    width: 40%;
    min-width: 200px;
    height: 100vh;
    padding: 30px;
    background-color: white;
    z-index: 4;

    &.header--open {
      display: initial;
    }
  }

  .header__navigation {
    display: flex;

    max-width: 940px;
    margin: 0 auto;
    border-bottom: 1px solid $grey;

    @media (max-width: $tablet) {
      height: 100vh;
    }
  }
}

.navigation__button {
  display: none;
  top: 50px;
  left: 20px;
  position: absolute;
  background-color: $grey;
  height: 3px;
  width: 50px;
  box-shadow: 0 -10px 0 0 $grey, 0 10px 0 0 $grey;

  &.navigation__button--close {
    display: initial;
    position: relative;
    top: 30px;
    left: 0;
    width: 40px;
    transform: rotate(45deg);
    box-shadow: none;

    &::after {
      content: '';
      position: absolute;
      width: 35px;
      height: 3px;
      background-color: $grey;
      transform: rotate(-90deg);
    }
  }
}

.navigation {
  position: relative;

  //@media (max-width: $tablet) {
  //  height: 100vh;
  //}



  .navigation__list {
      display: flex;
      justify-content: space-between;
      width: 100%;
      list-style: none;
      padding: 0;
      margin: 0;

      @media (max-width: $tablet) {
        flex-direction: column;
        justify-content: flex-start;
      }

      li {
        display: flex;
        justify-content: center;

        @media (max-width: $tablet) {
          justify-content: flex-start;
        }

        .navigation__link {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          text-transform: capitalize;
          text-decoration: none;
          padding: 30px 0;
          cursor: pointer;

          @media (max-width: $tablet) {
            padding: 20px 0;
          }


          &--active {
            .navigation__link-text {
              visibility: hidden;
            }

            .navigation__link-text--active {
              visibility: initial;
            }
          }

          &:hover,
          &:focus,
          &:active {
            .navigation__link--static {
              visibility: hidden;
            }

            .navigation__link--active {
              visibility: initial;
            }
          }
        }

        .navigation__link-text {
          color: $grey;
          visibility: initial;

          @media (max-width: $tablet) {
            font-size: 24px;
          }

        }

        .navigation__link-text--active {
          visibility: hidden;
          position: absolute;
          color: $black;
          font-weight: 700;
          white-space: nowrap;

          @media (max-width: $tablet) {
            font-size: 24px;
          }
        }
      }
    }

  .navigation__language {
      position: absolute;
      bottom: -230px;
      right: -30px;

      //@media (max-width: $tablet) {
      //  bottom: 100px;
      //  right: -20px;
      //}
    }
}

.language {
  display: flex;
  transform: rotate(-90deg);
  margin: 0;
  padding: 0;

  span {
    text-transform: uppercase;
    line-height: 18px;
    vertical-align: bottom;
    text-align: center;
    margin: 0;

    &.language--selected {
      font-weight: 700;
      margin: 0;
      padding-left: 5px;
      transform: rotate(0deg);
    }
  }
}
