@import '../../theme/variables';
@import '../../theme/mixins';


.header {
  position: fixed;
  z-index: 3;
  width: 100%;
  background: white;

  @media (max-width: $tablet) {
    max-width: 100%;
    height: 60px;
    box-shadow: 0 0 3px 0 #828282;
    background-color: white;
    transition: transform 0.1s ease-out;
  }

  @media (max-width: $mobile) {
    height: 40px;
  }

  .header__navigation {
    display: flex;
    max-width: 940px;
    margin: 0 auto;
    border-bottom: 1px solid $grey;

    @media (max-width: $tablet) {
      border-bottom: none;
      max-width: 40%;
      margin: 0;
      background-color: white;
    }

    @media (max-width: $mobile) {
      max-width: 70%;
    }
  }

  .header__menu-btn {
    position: absolute;
    top: 15px;
    left: 20px;
    display: none;
    height: 35px;
    width: 50px;

    @media (max-width: $tablet) {
      display: flex;
    }

    @media (max-width: $mobile) {
      top: 8px;
      left: 0;

      svg {
        height: 25px;
      }
    }

    &.header__menu-btn--hide {
      display: none;
    }
  }
}

.header__backdrop {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(130, 130, 130, 0.3);
}

.navigation {
  position: relative;

  .navigation__close-btn {
    display: none;
  }

  @media (max-width: $tablet) {
    justify-content: flex-start;
    height: 100vh;
    transform: translateX(-40vw);
    transition: transform 0.1s ease-out;

    .navigation__close-btn {
      position: absolute;
      top: 37px;
      right: 15px;
      z-index: 3;
      display: flex;
      width: 25px;
      height: 30px;
    }
  }

  @media (max-width: $mobile) {
    padding: 0 0 0 20px;
    transform: translateX(-70vw);

    .navigation__close-btn {
      position: absolute;
      top: 12px;
      right: 10px;
      z-index:3;
      display: flex;
      width: 15px;
      height: 30px;
    }
  }

  .navigation__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;


    @media (max-width: $tablet) {
      position: relative;
      flex-direction: column;
      justify-content: flex-start;
      padding: 20px 0 0 40px;
      background: white;
    }

    @media (max-width: $mobile) {
      padding: 0;
    }

    li {
      display: flex;
      justify-content: center;

      @media (max-width: $tablet) {
        justify-content: flex-start;
      }

      .navigation__link {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
        text-transform: capitalize;
        text-decoration: none;
        cursor: pointer;

        @media (max-width: $tablet) {
          justify-content: flex-start;
          width: 100%;
          padding: 20px 0;
        }


        &--active {
          .navigation__link-text {
            visibility: hidden;
          }

          .navigation__link-text--active {
            visibility: initial;
          }
        }

        &:hover,
        &:focus,
        &:active {
          .navigation__link--static {
            visibility: hidden;
          }

          .navigation__link--active {
            visibility: initial;
          }
        }
      }

      .navigation__link-text {
        visibility: initial;
        color: $grey;
        text-transform: none;

        @media (max-width: $tablet) {
          font-size: 24px;
        }

        @media (max-width: $mobile) {
          font-size: 18px;
        }
      }

      .navigation__link-text--active {
        position: absolute;
        visibility: hidden;
        color: $black;
        font-weight: 700;
        white-space: nowrap;

        @media (max-width: $tablet) {
          font-size: 24px;
        }

        @media (max-width: $mobile) {
          font-size: 18px;
        }
      }
    }
  }

  .navigation__language {
    position: absolute;
    bottom: -215px;
    right: -70px;
  }

  &.navigation--open {
    display: none;

    @media (max-width: $tablet) {
      display: flex;

      transform: translate(0, 0);

      .navigation__list {
        display: flex;
      }

      .navigation__language {
        bottom: 200px;
        right: -20px;
        transform: rotate(-90deg);
      }
    }
  }
}


.language {
  display: flex;
  margin: 0;
  padding: 0;
  transform: rotate(-90deg);

  .language__divider {
    display: flex;
    width: 1px;
    margin: 0 5px;
    background-color: black;
  }

  span {
    width: 50px;
    margin: 0;
    color: $grey;
    text-transform: uppercase;
    text-align: center;
    vertical-align: bottom;
    line-height: 18px;
    cursor: pointer;


    &.language--selected {
      margin: 0;
      color: $black;
      font-weight: 700;
    }
  }
}
