/**
 * @section Base Styles
 */


//@include sizing('font-size', (320px: 30px, 699px: 40px, 1920px: 48px));


@import "./variables";
@import "./mixins";

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 125%;
  width: 100%;
  min-width: 320px;
}

header,
main,
footer {
  width: 100%;
}

h2 {
  margin: 0;
  @include font(34px, 700, $black);
  @include sizing('font-size', (320px: 28px, 699px: 34px));
}

p,
a,
span {
  @include font();
  @include sizing('font-size', (320px: 16px, 699px: 18px));
}

input,
textarea,
select,
button {
  @include font();
  @include sizing('font-size', (320px: 16px, 699px: 18px));
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
}
