@import '../../theme/variables';
@import '../../theme/mixins';

.intro {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: white;


  .intro__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 940px;
    min-height: 100vh;
    margin: 0 auto;

    @media (max-width: $tablet) {
      max-width: 100%;
      margin: 0;
    }

    .intro__title {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;
      padding: 150px 0 0 0;
      @include font(50px, 700, $black);
      @include sizing(
        'font-size',
        (
          320px: 30px,
          699px: 60px,
          1024px: 48px,
        )
      );

      @media (max-width: $tablet) {
        padding: 100px 20px 50px 0;
        text-align: right;
      }

      @media (max-width: $mobile) {
        padding: 80px 20px 20px 0;
      }

      .intro__description {
        margin-top: 20px;
        font-weight: normal;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

        @media (max-width: $tablet) {
          font-size: 24px;
          text-align: right;
          text-shadow: none;
        }

        @media (max-width: $mobile) {
          margin-top: 10px;
          font-size: 18px;
        }
      }
    }

    .intro__photo {
      width: 550px;
      height: auto;
      margin-top: auto;
      margin-left: auto;

      @media (max-width: $tablet) {
        width: 650px;
      }

      @media (max-width: $mobile) {
        width: 100vw;
        min-height: 300px;
      }
    }
  }
}
