@import '../../theme/variables';
@import '../../theme/mixins';

//@include sizing('font-size', (320px: 30px, 699px: 40px, 1920px: 48px));


.contacts__wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;

  .contacts {
    display: flex;
    width: 100%;
    max-width: 940px;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin: 0 auto;


    .contacts__title {
      margin-top: 0;
    }

    .contacts__text {
      margin: 0;
      text-align: center;
    }

    .contacts__form {
      margin-top: 40px;
    }

    .contacts__social {
      margin-top: 50px;
    }

    .contacts__notes {
      text-align: center;
      margin: 40px 0 0 0;
      color: $grey;
    }
  }
}




.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 470px;
  width: 100%;


  .form__input {
    position: relative;
    display: flex;
    width: 100%;
    border: none;
    padding: 10px;
    outline: none;
    @include font();


    &:hover,
    &:focus {
      border-color: $black;

      & + .form__input--border:after {
        height: 2px;
      }
    }
  }

  .form__input--border {
    position: relative;
    height: 0;
    width: 100%;

    &:after {
      content: '';
      position: absolute;
      height: 1px;
      background-color: $black;
      left: 0;
      right: 0;
    }
  }

  .form__email {
    margin-top: 10px;
  }

  .form__message {
    margin-top: 10px;
    resize: none;
  }

  .form__button {
    display: flex;
    justify-content: center;
    background-color: $black;
    border: 2px solid $black;
    border-radius: 25px;
    min-width: 200px;
    padding: 5px 20px;
    margin-top: 40px;
    @include font($color: $greylight);

    &:hover {
      border: 2px solid $black;
      background-color: white;
      color: $black;
      outline: none;
      cursor: pointer;
    }

    &:active {
      background-color: $greylight;
      border: 2px solid $greylight;
      color: $grey;
      opacity: 1;
    }
  }
}

.social {
  display: flex;
  width: 100%;
  max-width: 400px;
  justify-content: space-between;
  align-items: baseline;

  .social__link {
    text-decoration: none;
    font-size: 0;
    line-height: 0;

    .svg__fill {
      display: none;
    }

    &:hover {
      .svg__empty {
        display: none;
      }

      .svg__fill {
        display: block;
      }
    }
  }
}
